RDF Validation Issues

This is an error that expresses itself in cc.engine but has to do with translations.

See RDF validation errors here -

https://www.w3.org/RDF/Validator/rdfval?URI=https%3A%2F%2Fcreativecommons.org%2Flicenses%2Fby-sa%2F4.0%2Frdf&PARSE=Parse+URI%3A+&TRIPLES_AND_GRAPH=PRINT_TRIPLES&FORMAT=PNG_EMBED

There are two issues:
1. CDN or Server Configuration Issue
2. RDF language tag errors

## Issue One:  CDN or Server Configuration Issue
If the file is served from Creative Commons hosting infrastructure then we see the following [W3C RDF Validation Results](https://www.w3.org/RDF/Validator/rdfval?URI=https%3A%2F%2Fcreativecommons.org%2Flicenses%2Fby-sa%2F4.0%2Frdf&PARSE=Parse+URI%3A+&TRIPLES_AND_GRAPH=PRINT_TRIPLES&FORMAT=PNG_EMBED) error:
> ### RDF Load Error
> An attempt to load the RDF from URI 'https://creativecommons.org/licenses/by-sa/4.0/rdf' failed. (Cannot open stream.) 

Additionally, the Freshdesk ticket mentioned above contains:
> From JavaScript, I cannot execute an XMLHttpRequest for either the
HTML URL (needed to find HTTP link element) or the RDF URL. The
request is denied as a cross-origin request.
>
> I don't know, but to make the license available to machines that want
to check the license details, then both the license HTML and the RDF
should be served with the HTTP response header:
> 
> ```
> Access-Control-Allow-Origin: *
> ```


## Issue Two: RDF language tag errors
If the file is loaded from GitHub (bypassing Issue One) then we see the [W3C RDF Validation Results](https://www.w3.org/RDF/Validator/rdfval?URI=https%3A%2F%2Fraw.githubusercontent.com%2Fcreativecommons%2Fcc.licenserdf%2F93b796ad3f2b00362abdfcfa75230763d7b07925%2Fcc%2Flicenserdf%2Flicenses%2Fcreativecommons.org_licenses_by-sa_4.0_.rdf&PARSE=Parse+URI%3A+&TRIPLES_AND_GRAPH=PRINT_TRIPLES&FORMAT=PNG_EMBED). The validation errors are reproduced below with their appropriate line copied in for clarity:
1. > Error: {W115} Primary subtag must be between 1 and 8 alpha characters: sr@latin
   [Line = 12, Column = 35]
    ```
    <dc:title xml:lang="sr@latin">Attribution-ShareAlike 4.0 International</dc:title>
    ```
2. > Error: {W116} RFC 3066 section 2.3 mandates the use of 'oc' instead of 'oci'.
   [Line = 50, Column = 33]
    ```
    <dc:title xml:lang="oci-es">Attribution-ShareAlike 4.0 International</dc:title
    ```
3. > Error: {W115} Primary subtag must be between 1 and 8 alpha characters: i18n
   [Line = 89, Column = 31]
    ```
    <dc:title xml:lang="i18n">${Attribution-ShareAlike} 4.0 ${International}</dc:title>
    ```